[defaults]
# No default inventory - always use -i to specify explicitly
roles_path         = roles
stdout_callback    = yaml
callbacks_enabled  = timer, profile_tasks
retry_files_enabled = False
host_key_checking  = True

[ssh_connection]
pipelining         = True
ssh_args            = -o ControlMaster=auto -o ControlPersist=60s
